### 3개의 파일을 활용한 [실습]
- ratings.dat
- movies.dat
- users.dat

1) 각 파일을 pd.read_csv() 로 읽어들인다
- 헤더 및 구분자 확인요망

2) 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가
- ratings.dat : userId / movieId / rating / timestamp
- movies.data : movieId / title / genres
- users.data  : userId / gender / age

3) 공통 컬럼을 이용한 데이터 병합

4) user 평점 갯수 순위 확인

5) 각 영화의 성별 평균 평점 

6) 평점이 220개 이상인 영화만 필터링 

7) 평점이 200개 이상인 영화들의 성별 평균 평점

8) 여성이 가장 좋아하는 영화 순위

9) 남녀간의 평균 평점 차이

10) 평점의 표준편차가 큰 영화

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# 각 파일을 pd.read_csv() 로 읽어들인다
ratings_df = pd.read_csv('C:/Users/i/data/ratings.dat', sep='::', header=None)
movies_df = pd.read_csv('C:/Users/i/data/movies.dat', sep='::', header=None)
users_df = pd.read_csv('C:/Users/i/data/users.dat', sep='::', header=None)

C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
del users_df[3]
del users_df[4]
# OR
# users_df.drop([3,4], axis=1, inplace=True)

In [43]:
# 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가 ratings.dat
# userId / movieId / rating / timestamp
ratings_df.columns = ['userId', 'movieId', 'rating', 'timestamp']
movies_df.columns = ['movieId', 'title', 'genres']
users_df.columns = ['userId', 'gender', 'age']

In [44]:
# 공통 컬럼을 이용한 데이터 병합
merge_df = pd.merge(ratings_df, movies_df, on = 'movieId', how='outer') 
merge_df = pd.merge(merge_df, users_df, on = 'userId', how='outer') 

#or
merge_df = pd.merge(pd.merge(ratings_df, users_df), movies_df)
merge_df.head()

,userId,movieId,rating,timestamp,gender,age,title,genres
0,1,1193,5,978300760,F,1,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,One Flew Over the Cuckoo's Nest (1975),Drama

In [49]:
# user 평점 갯수 순위 확인
user_sort = pd.DataFrame(ratings_df.groupby('userId').size())
user_sort.head()
user_sort.sort_values(by=0 , ascending=False).head()

           0
userId
4169    2314
1680    1850
4277    1743
1941    1595
1181    1521

In [59]:
# 각 영화의 성별 평균 평점

rating_mean_df = merge_df.pivot_table('rating', 'title', 'gender', aggfunc=np.mean)
rating_mean_df

gender                                                 F         M
title
$1,000,000 Duck (1971)                          3.375000  2.761905
'Night Mother (1986)                            3.388889  3.352941
'Til There Was You (1997)                       2.675676  2.733333
'burbs, The (1989)                              2.793478  2.962085
...And Justice for All (1979)                   3.828571  3.689024
1-900 (1994)                                    2.000000  3.000000
10 Things I Hate About You (1999)               3.646552  3.311966
101 Dalmatians (1961)                           3.791444  3.500000
101 Dalmatians (1996)                           3.240000  2.911215
12 Angry Men (1957)                             4.184397  4.328421
13th Warrior, The (1999)                        3.112000  3.168000
187 (1997)                                      2.428571  2.791667
2 Days in the Valley (1996)                     3.488889  3.244813
20 Dates (1998)                                 2.620690  2.918182
20,000 Leagues Under the Sea (1954)             3.670103  3.709205
200 Cigarettes (1999)                           3.169014  2.700000
2001: A Space Odyssey (1968)                    3.825581  4.129738
2010 (1984)                                     3.446809  3.413712
24 7: Twenty Four Seven (1997)                  5.000000  3.750000
24-hour Woman (1998)                            2.000000  1.600000
28 Days (2000)                                  3.209424  2.977707
3 Ninjas: High Noon On Mega Mountain (1998)     1.400000  1.351351
3 Strikes (2000)                                     NaN  2.750000
301, 302 (1995)                                 3.000000  2.857143
39 Steps, The (1935)                            3.965517  4.107692
400 Blows, The (Les Quatre cents coups) (1959)  4.489362  4.264286
42 Up (1998)                                    3.966667  4.362069
52 Pick-Up (1986)                               3.304348  3.299145
54 (1998)                                       2.701754  2.782178
7th Voyage of Sinbad, The (1958)                3.409091  3.658879
...                                                  ...       ...
Wrongfully Accused (1998)                       2.666667  2.540541
Wyatt Earp (1994)                               3.147059  3.283898
X-Files: Fight the Future, The (1998)           3.489474  3.493797
X-Men (2000)                                    3.682310  3.851702
X: The Unknown (1956)                           2.250000  3.125000
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)    3.821429  3.536585
Yankee Zulu (1994)                              3.000000  3.000000
Yards, The (1999)                               2.687500  3.360656
Year My Voice Broke, The (1987)                 4.000000  3.705882
Year of Living Dangerously (1982)               3.951220  3.869403
Year of the Horse (1997)                             NaN  3.250000
Yellow Submarine (1968)                         3.714286  3.689286
Yojimbo (1961)                                  4.423077  4.402116
You Can't Take It With You (1938)               4.192308  3.921569
You So Crazy (1994)                             3.666667  2.300000
You've Got Mail (1998)                          3.542424  3.275591
Young Doctors in Love (1982)                    1.923077  2.742424
Young Frankenstein (1974)                       4.289963  4.239177
Young Guns (1988)                               3.371795  3.425620
Young Guns II (1990)                            2.934783  2.904025
Young Poisoner's Handbook, The (1995)           4.000000  3.532258
Young Sherlock Holmes (1985)                    3.514706  3.363344
Young and Innocent (1937)                       2.500000  3.500000
Your Friends and Neighbors (1998)               2.888889  3.536585
Zachariah (1971)                                     NaN  3.500000
Zed & Two Noughts, A (1985)                     3.500000  3.380952
Zero Effect (1998)                              3.864407  3.723140
Zero Kelvin (Kj�rlighetens kj�tere) (1995)           NaN  3.500000
Zeus and Roxanne (1997)                         2.777778  2.357143
eXistenZ (1999)                                 3.098592  3.289086

[3706 rows x 2 columns]

In [79]:
# 평점이 220개 이상인 영화만 필터링

print( merge_df.groupby('title').size())
print( merge_df.groupby('title').size().index )
rating_by_title = merge_df.groupby('title').size()
rating220 = rating_by_title.index[rating_by_title >= 220]

title
$1,000,000 Duck (1971)                              37
'Night Mother (1986)                                70
'Til There Was You (1997)                           52
'burbs, The (1989)                                 303
...And Justice for All (1979)                      199
1-900 (1994)                                         2
10 Things I Hate About You (1999)                  700
101 Dalmatians (1961)                              565
101 Dalmatians (1996)                              364
12 Angry Men (1957)                                616
13th Warrior, The (1999)                           750
187 (1997)                                          55
2 Days in the Valley (1996)                        286
20 Dates (1998)                                    139
20,000 Leagues Under the Sea (1954)                575
200 Cigarettes (1999)                              181
2001: A Space Odyssey (1968)                      1716
2010 (1984)                                        470
24 7: Twenty Four Seven (1997)                       5
24-hour Woman (1998)                                 9
28 Days (2000)                                     505
3 Ninjas: High Noon On Mega Mountain (1998)         47
3 Strikes (2000)                                     4
301, 302 (1995)                                      9
39 Steps, The (1935)                               253
400 Blows, The (Les Quatre cents coups) (1959)     187
42 Up (1998)                                        88
52 Pick-Up (1986)                                  140
54 (1998)                                          259
7th Voyage of Sinbad, The (1958)                   258
                                                  ...
Wrongfully Accused (1998)                          123
Wyatt Earp (1994)                                  270
X-Files: Fight the Future, The (1998)              996
X-Men (2000)                                      1511
X: The Unknown (1956)                               12
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)        69
Yankee Zulu (1994)                                   2
Yards, The (1999)                                   77
Year My Voice Broke, The (1987)                     27
Year of Living Dangerously (1982)                  391
Year of the Horse (1997)                             4
Yellow Submarine (1968)                            399
Yojimbo (1961)                                     215
You Can't Take It With You (1938)                   77
You So Crazy (1994)                                 13
You've Got Mail (1998)                             838
Young Doctors in Love (1982)                        79
Young Frankenstein (1974)                         1193
Young Guns (1988)                                  562
Young Guns II (1990)                               369
Young Poisoner's Handbook, The (1995)               79
Young Sherlock Holmes (1985)                       379
Young and Innocent (1937)                           10
Your Friends and Neighbors (1998)                  109
Zachariah (1971)                                     2
Zed & Two Noughts, A (1985)                         29
Zero Effect (1998)                                 301
Zero Kelvin (Kj�rlighetens kj�tere) (1995)           2
Zeus and Roxanne (1997)                             23
eXistenZ (1999)                                    410
Length: 3706, dtype: int64
Index(['$1,000,000 Duck (1971)', ''Night Mother (1986)',
       ''Til There Was You (1997)', ''burbs, The (1989)',
       '...And Justice for All (1979)', '1-900 (1994)',
       '10 Things I Hate About You (1999)', '101 Dalmatians (1961)',
       '101 Dalmatians (1996)', '12 Angry Men (1957)',
       ...
       'Young Poisoner's Handbook, The (1995)', 'Young Sherlock Holmes (1985)',
       'Young and Innocent (1937)', 'Your Friends and Neighbors (1998)',
       'Zachariah (1971)', 'Zed & Two Noughts, A (1985)', 'Zero Effect (1998)',
       'Zero Kelvin (Kj�rlighetens kj�tere) (1995)', 'Zeus and Roxanne (1997)',
       'eXistenZ (1999)'],
      dtype='object', name='title', length=3706)

In [77]:
# 평점이 200개 이상인 영화들의 성별 평균 평점
rating200 = rating_by_title.index[rating_by_title >= 200]
rating200

rating200_mean = rating_mean_df.loc[rating200]
rating200_mean.head()

gender                                    F         M  diff_rating
title
'burbs, The (1989)                 2.793478  2.962085     0.168607
10 Things I Hate About You (1999)  3.646552  3.311966     0.334586
101 Dalmatians (1961)              3.791444  3.500000     0.291444
101 Dalmatians (1996)              3.240000  2.911215     0.328785
12 Angry Men (1957)                4.184397  4.328421     0.144024

In [66]:
# 여성이 가장 좋아하는 영화 순위
rating_mean_df.sort_values(by=['F'], ascending=False)

gender                                                     F         M
title
Clean Slate (Coup de Torchon) (1981)                5.000000  3.857143
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000  3.428571
Raw Deal (1948)                                     5.000000  3.307692
Bittersweet Motel (2000)                            5.000000       NaN
Skipped Parts (2000)                                5.000000  4.000000
Lamerica (1994)                                     5.000000  4.666667
Gambler, The (A J�t�kos) (1997)                     5.000000  3.166667
Brother, Can You Spare a Dime? (1975)               5.000000  3.642857
Ayn Rand: A Sense of Life (1997)                    5.000000  4.000000
24 7: Twenty Four Seven (1997)                      5.000000  3.750000
Twice Upon a Yesterday (1998)                       5.000000  3.222222
Woman of Paris, A (1923)                            5.000000  2.428571
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 5.000000  4.750000
Gate of Heavenly Peace, The (1995)                  5.000000  5.000000
For the Moment (1994)                               5.000000  3.000000
Country Life (1994)                                 5.000000  2.000000
Prisoner of the Mountains (Kavkazsky Plennik) (...  5.000000  3.692308
Other Side of Sunday, The (S�ndagsengler) (1996)    5.000000  2.928571
Saltmen of Tibet, The (1997)                        5.000000  3.571429
Big Combo, The (1955)                               5.000000  3.600000
One Little Indian (1973)                            5.000000       NaN
Message to Love: The Isle of Wight Festival (1996)  5.000000  3.833333
Belly (1998)                                        5.000000  3.000000
Song of Freedom (1936)                              5.000000       NaN
Coldblooded (1995)                                  5.000000  3.588235
Battling Butler (1926)                              5.000000  3.222222
Dancemaker (1998)                                   5.000000  3.250000
World of Apu, The (Apur Sansar) (1959)              4.842105  4.189189
Hearts and Minds (1996)                             4.833333  4.000000
Apple, The (Sib) (1998)                             4.750000  4.600000
...                                                      ...       ...
Tinseltown (1998)                                        NaN  2.000000
Tokyo Fist (1995)                                        NaN  2.500000
Tough and Deadly (1995)                                  NaN  2.000000
Trans (1998)                                             NaN  3.000000
Trois (2000)                                             NaN  2.000000
Two Thousand Maniacs! (1964)                             NaN  3.266667
Ugly, The (1997)                                         NaN  1.888889
Ulysses (Ulisse) (1954)                                  NaN  5.000000
Underworld (1997)                                        NaN  1.000000
Uninvited Guest, An (2000)                               NaN  1.000000
Vampyros Lesbos (Las Vampiras) (1970)                    NaN  3.333333
Venice/Venice (1992)                                     NaN  1.000000
Very Natural Thing, A (1974)                             NaN  3.333333
Voyage to the Beginning of the World (1997)              NaN  4.000000
Waiting Game, The (2000)                                 NaN  2.000000
Walking Dead, The (1995)                                 NaN  2.684211
Waltzes from Vienna (1933)                               NaN  1.000000
War at Home, The (1996)                                  NaN  2.500000
Wend Kuuni (God's Gift) (1982)                           NaN  4.000000
Where's Marlowe? (1999)                                  NaN  4.000000
White Boys (1999)                                        NaN  1.000000
Wild Bill (1995)                                         NaN  3.146341
Windows (1980)                                           NaN  1.000000
Wings of Courage (1995)                                  NaN  3.000000
With Byrd at the South Pole (1930)                       NaN  2.000000
With Friends Like These... (1998)                        NaN  4.000000
Wooden Man's Bride, The (Wu Kui) (1994)                  NaN  3.000000
Year of the Horse (1997)                                 NaN  3.250000
Zachariah (1971)                                         NaN  3.500000
Zero Kelvin (Kj�rlighetens kj�tere) (1995)               NaN  3.500000

[3706 rows x 2 columns]

In [76]:
# 남녀간의 평균 평점 차이
rating_mean_df['diff_rating'] = np.abs(rating_mean_df['F'] - rating_mean_df['M'])
rating_mean_df['diff_rating'].head()

title
$1,000,000 Duck (1971)           0.613095
'Night Mother (1986)             0.035948
'Til There Was You (1997)        0.057658
'burbs, The (1989)               0.168607
...And Justice for All (1979)    0.139547
Name: diff_rating, dtype: float64